<header style="border-bottom:5px solid red;">
    <img style="margin: 10px;" src="/images/hmr-logo.png" id="big-image" usemap="#home-map">
    <map name="home-map">
        <area shape="circle" coords="42,42,38" href="/" alt="Home Student Portal">
    </map>
    <p id="title">Student Portal</p>
</header>