<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{pageTitle}}</title>
    <link rel="stylesheet" href="{{styleSheetPath}}" type="text/css">
    <link rel="stylesheet" href="{{styleSheetTwoPath}}">
    <link rel="icon" href="/images/logo_hmritm_400px.png">
</head>