<div id="navigation-bar">
    <ul class="navigation-links">
        <li><a href="#">Attendance</a></li>
        <li><a href="#">Time Table</a></li>
        <li><a href="#">Feedback</a></li>
        <li><a href="#">Announcements</a></li>
        <li><a href="#">Syllabus</a></li>
    </ul>
</div>